{% import "_includes/forms" as forms %}

<h3>{{ 'Create the OAuth application'|t('videos') }}</h3>
<p>{{ 'Go to the {link} and create a new app by clicking the “Create a new app” button, or use one of your existing apps.'|t('videos', {link: '<a href="http://www.dailymotion.com/settings/developer">'~'Dailymotion API Console'|t('videos')~'</a>'})|raw }}</p>
<p>{{ "Under the Your App → OAuth2 section,  add the following callback URL."|t('videos') }}</p>

<ul class="bullets">
	<li><strong>Javascript Origin:</strong> <code>{{ javascriptOrigin }}</code></li>
	<li><strong>Redirect URI:</strong> <code>{{ redirectUri }}</code></li>
</ul>

<h3>{{ 'Configure the OAuth client'|t('videos') }}</h3>
<p>{{ 'Once the OAuth client is created, Dailymotion will provide you with a client ID and secret.'|t('videos') }}</p>
<p>{{ ("Copy the client ID & secret from the <a href=\"http://www.dailymotion.com/settings/developer\">"~'Dailymotion API Console'|t('videos')~"</a> under the Your App → OAuth2 section, and paste them in the <code>craft/config/videos.php</code> config file.")|raw }}</p>

{{ forms.textField({
	name: 'clientId',
	label: "Client ID"|t('videos'),
	value: (oauthProviderOptions.clientId ?? null)
}) }}

{{ forms.textField({
	name: 'clientSecret',
	label: "Client Secret"|t('videos'),
	value: (oauthProviderOptions.clientSecret ?? null)
}) }}
